<div class="container">
	<h2>My Profile</h2>
	<form enctype="multipart/form-data" action="/users/<%=@current_user.slug%>" method="POST">
    <input type="hidden" name="_method" value="PATCH">
		<div class="row">
			<div class="col-sm-5">
				<img class="profile-pic-select img-thumbnail" src="images/users/<%=current_user.id%>/profile_pic" alt="Generic Profile Pic">
				<input class="img-upload-btn" type="file" name="profile-img" accept="images/*">
			</div>
		</div>
		<div class="row">
			<input class="col-sm-5" type="text" name="user[name]" value="<%=current_user.name%>">
			<input class="col-sm-5 col-sm-offset-2" type="email" name="user[email]" value="<%=current_user.email%>">
		</div>
		<div class="row">
			<input class="col-sm-5" type="text" name="user[username]" value="<%=current_user.username%>">
			<input class="col-sm-5 col-sm-offset-2" type="password" name="user[password]" value="<%=current_user.password%>">
		</div>
    <input type="submit" value="Save Changes">
	</form>
</div>