<div class="container">
	<h1 class="text-center">Register</h1>
	<% if flash.has?(:calorie_error) || flash.has?(:username_error) || flash.has?(:image_error) || flash.has?(:invalid_error) %>
		<%="<p class=\"error-msg\">#{flash[:calorie_error]}</p>" if flash.has?(:calorie_error) %>
		<%="<p class=\"error-msg\">#{flash[:username_error]}</p>" if flash.has?(:username_error) %>
		<%="<p class=\"error-msg\">#{flash[:image_error]}</p>" if flash.has?(:image_error) %>
		<%="<p class=\"error-msg\">#{flash[:invalid_error]}</p>" if flash.has?(:invalid_error) %>
	<% end %>
	<form enctype="multipart/form-data" action="/signup" method="POST">
		<div class="row">
			<div class="col-sm-12">
				<img class="profile-pic-select" src="<%=url("images/users/generic/profile_pic.png")%>" alt="Generic Profile Pic">
				<input class="img-upload-btn" type="file" name="profile_img" accept="image/*">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<label for="name-input">Name:</label>
				<input id="name-input" class="form-control" type="text" name="user[name]" required placeholder="Full Name">
			</div>
			<div class="col-sm-6">
				<label for="calorie-input">Calorie Goal:</label>
				<input id="calorie-input" class="form-control" type="text" name="user[daily_calorie_goal]" required placeholder="Daily Calorie Goal">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<label for="usrnme-input">Username:</label>
				<input id="usrnme-input" class="form-control" type="text" name="user[username]" required placeholder="Username">
			</div>
			<div class="col-sm-6">
				<label for="pswrd-input">Password:</label>
				<input id="pswrd-input" class="form-control" type="password" name="user[password]" required placeholder="Password">
			</div>
		</div>
		<input type="submit" class="btn btn-default" value="Register">
	</form>
</div>