<div class="row">
  <div class="activity-block center-block text-center card-style">
    <div>
      <img class="index-icon-mini img-circle" src="<%=profile_pic_path(@food.user)%>" alt="">
      <img class="index-icon-mini" src="<%=url("images/food_icon.png")%>" alt="Meal Icon">
    </div>
    <h3><%=print_time(@food.created_at)%></h3>
    <div>
      <h4><%=@food.name%>: +<%=@food.calories%> calories</h4>
    </div>
    <% if on_recent_activity? %>
      <p><em><%=first_name(@food.user.name)%> says, "Deeelicious!"</em></p>
    <% end %>
    <% if @viewing_own_activity %>
      <div>
        <a href="/foods/<%=@food.id%>/edit" class="btn btn-default btn-xs" role="button">  Edit  </a>
        <form action="/foods/<%=@food.id%>" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <input class="btn btn-danger btn-xs" type="submit" value="Delete">
        </form>
      </div>
    <% end %>
  </div>
</div>