<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_nav" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Fitness Tracker</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="main_nav">
			<ul class="nav navbar-nav navbar-left">
				<% if logged_in? %>
					<li class="<%=link_status("recent-activity")%>"><a href="<%="/recent-activity"%>">Recent Activity<%="<span class=\"sr-only\"> (current)</span>" if link_status("recent-activity") == "active"%></a></li>
					<li class="dropdown <%=link_status("exercises")%>">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Exercise<%="<span class=\"sr-only\"> (current)</span>" if link_status("exercises") == "active"%><span class="caret vis-sm-inline"></span></a>
						<ul class="dropdown-menu">
							<li><a href="<%="/exercises/users/#{current_user.slug}"%>">All Exercises</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="/exercises/new">New Exercise</a></li>
						</ul>
					</li>
					<li class="dropdown <%=link_status("foods")%>">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Meals<%="<span class=\"sr-only\"> (current)</span>" if link_status("foods") == "active"%><span class="caret vis-sm-inline"></span></a>
						<ul class="dropdown-menu">
							<li><a href="<%="/foods/users/#{current_user.slug}"%>">All Meals</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="/foods/new">New Meal</a></li>
						</ul>
					</li>
				<% else %>
					<li class="<%=link_status("recent-activity")%>"><a href="<%="/recent-activity"%>">Recent Activity<%="<span class=\"sr-only\"> (current)</span>" if link_status("recent-activity") == "active"%></a></li>
				<% end %>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<% if logged_in? %>
					<li><img class="img-circle mini-pic-display" src="<%=profile_pic_url(current_user)%>" alt="Profile Pic"></li>
					<li class="dropdown">
						<a id="acct-dropdown" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=current_user.first_name%><span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/users/<%=current_user.slug%>">My Profile</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="/logout">Log Out</a></li>
						</ul>
					</li>
				<% else %>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/login">Log In</a></li>
						</ul>
					</li>
				<% end %>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>